<h3>Sign In</h3>

<form action="/login" method="POST">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" />

  <label for="role"><b>Role</b></label>
  <select name="role">
    <option value="user">User</option>
    <option value="admin">Admin</option>
  </select>

  <input type="submit" value="LoginAdmin" class="btn" />
</form>
